//Fonts
$mainFont: 'Lato', sans-serif;
$smallFont: 15px;
$paragraphFont: 16px;
$mediumFont: 18px;
$bigFont: 26px;
$boldFont: 800;
$lightFont: 300;
$lineHeightSmall: 18px;
$lineHeightMedium: 24px;
$lineHeightBig: 31px;

//Colors
$black: #101010;
$gray: #F5F5F5;
$red: #E51323;
$green: #007A02;
$white: #FFFFFF;
$gradient: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
$gradientDimmed: linear-gradient(90deg, #B678AA 1.29%, #E28990 100%);
$boxShadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
$boxShadowHover: 0px 3px 14px rgb(172, 81, 156);


$desktop: 940px;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*, *:after, *:before {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

input {
    border-width: 0;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: $mainFont;
}

.grid {
    width: 100%;
    padding: 4rem 2rem;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    "title-box"
    "main"
    "aside";


    * {
        display: grid;
    }

    @media screen and (min-width: $desktop) {
        grid-column-gap: 70px;
        padding-top: 76px;
        padding-bottom: 140px;
        width: 900px;
        grid-template-areas:
        "title-box title-box ."
        "main main aside";
    }
}

.main {
    align-items: start;
    align-content: baseline;
    padding-top: 26px;
    grid-gap: 25px;
    grid-area: main;
}

.sidebar {
    background: $gray;
    width: 100%;
    min-height: 426px;
    height: 640px;
    justify-content: center;
    align-content: start;
    grid-area: aside;
    margin-top: 33px;

    @media screen and (min-width: $desktop) {
        margin-top: unset;
        width: 270px;
        min-height: 426px;
        height: 640px;
    }

    &__button {
        background: $gradient;
        box-shadow: $boxShadow;
        font-weight: $boldFont;
        font-size: $smallFont;
        line-height: $lineHeightSmall;
        margin-top: 50px;
        text-align: center;
        color: $white;
        width: 220px;
        height: 40px;
        border: none;
        align-content: center;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.3s all ease-out;
        grid-area: button;
        outline: 1px solid rgb(81, 161, 172);

        &:hover {
            box-shadow: $boxShadowHover;
        }
    }
}

.title-box {
    grid-area: title-box;
    grid-gap: 16px;

    &__title {
        font-size: $bigFont;
        font-weight: $boldFont;
        line-height: $lineHeightBig;
        color: $black;
    }


}

.divider {
    height: 1px;
    width: 100%;
    background: $gradient;
    position: relative;

    &--bold {
        height: 3px;
    }

    &--half {
        width: 50%;
        justify-self: start;
    }
}

.divider-second-half {
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 100%;
    top: 0;
    border: 1px solid #E5E5E5;
}

.subtitle {
    font-weight: $boldFont;
    font-size: $mediumFont;
    line-height: $lineHeightMedium;
    color: $black;
}

.paragraph {
    font-weight: $lightFont;
    font-size: $paragraphFont;
    line-height: $lineHeightMedium;
    color: $black;
}

.img {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: grid;

    &__steps {
        font-weight: $lightFont;
        font-size: 14px;
        line-height: 17px;

        align-items: center;

        color: #848484;

    }

    &__title {
        font-weight: $boldFont;
        font-size: 23px;
        line-height: 28px;
        align-items: center;
        text-align: center;
        width: 440px;
        color: #464646;
        display: block;

        span {
            display: inline;
            color: $green;;
        }
    }

    &__inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #262626;
        opacity: 0.4;

    }

    &__outer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 570px;
        height: 310px;
        grid-gap: 20px;
        background: #FFFFFF;
        align-content: center;
        justify-items: center;
        justify-content: center;
    }

    &__close {
        font-weight: $boldFont;
        font-size: 38px;
        line-height: 46px;
        color: #464646;
        position: absolute;
        right: 14px;
        top: 0;
        cursor: pointer;
    }
}

.form {


    &__button {
        width: 440px;
        background: $gradient;
        box-shadow: $boxShadow;
        font-weight: $boldFont;
        font-size: $smallFont;
        line-height: $lineHeightSmall;
        margin-top: 21px;
        text-align: center;
        color: $white;
        height: 40px;
        border: none;
        align-content: center;
        text-transform: capitalize;
        cursor: pointer;
        transition: 0.3s all ease-out;
        outline: 1px solid rgb(81, 161, 172);

        &:hover {
            box-shadow: $boxShadowHover;
        }
    }

    &__input {
        width: 440px;
        height: 54px;
        position: relative;
        transition: 0.3s all ease-in-out;
        line-height: 60px;

        label {
            color: #828282;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: 0.2s all;
            cursor: text;
            text-indent: 20px;

        }

        input {
            text-indent: 20px;
            background: #FFFFFF;
            box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
            font-weight: 300;
            font-size: 16px;
            height: 60px;
            line-height: 19px;
            color: #000000;

            &:focus, &:valid {
                padding-top: 20px;
            }


        }


        input:focus,
        input:valid {
            outline: 0
        }

        input:focus ~ label,
        input:valid ~ label {


            top: -14px;
            font-size: 12px;
        }

    }
}

.error {
    color: $red !important;
    outline: $red;
}

