html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

input {
  border-width: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.grid {
  width: 100%;
  padding: 4rem 2rem;
  display: grid;
  margin: 0 auto;
  grid-template-areas: "title-box" "main" "aside";
}

.grid * {
  display: grid;
}

@media screen and (min-width: 940px) {
  .grid {
    grid-column-gap: 70px;
    padding-top: 76px;
    padding-bottom: 140px;
    width: 900px;
    grid-template-areas: "title-box title-box ." "main main aside";
  }
}

.main {
  align-items: start;
  align-content: baseline;
  padding-top: 26px;
  grid-gap: 25px;
  grid-area: main;
}

.sidebar {
  background: #F5F5F5;
  width: 100%;
  min-height: 426px;
  height: 640px;
  justify-content: center;
  align-content: start;
  grid-area: aside;
  margin-top: 33px;
}

@media screen and (min-width: 940px) {
  .sidebar {
    margin-top: unset;
    width: 270px;
    min-height: 426px;
    height: 640px;
  }
}

.sidebar__button {
  background: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
  box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  margin-top: 50px;
  text-align: center;
  color: #FFFFFF;
  width: 220px;
  height: 40px;
  border: none;
  align-content: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s all ease-out;
  grid-area: button;
  outline: 1px solid #51a1ac;
}

.sidebar__button:hover {
  box-shadow: 0px 3px 14px #ac519c;
}

.title-box {
  grid-area: title-box;
  grid-gap: 16px;
}

.title-box__title {
  font-size: 26px;
  font-weight: 800;
  line-height: 31px;
  color: #101010;
}

.divider {
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
  position: relative;
}

.divider--bold {
  height: 3px;
}

.divider--half {
  width: 50%;
  justify-self: start;
}

.divider-second-half {
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 100%;
  top: 0;
  border: 1px solid #E5E5E5;
}

.subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #101010;
}

.paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
}

.img {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: grid;
}

.popup__steps {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #848484;
}

.popup__title {
  font-weight: 800;
  font-size: 23px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  width: 440px;
  color: #464646;
  display: block;
}

.popup__title span {
  display: inline;
  color: #007A02;
}

.popup__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  opacity: 0.4;
}

.popup__outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
  height: 310px;
  grid-gap: 20px;
  background: #FFFFFF;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.popup__close {
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  color: #464646;
  position: absolute;
  right: 14px;
  top: 0;
  cursor: pointer;
}

.form__button {
  width: 440px;
  background: linear-gradient(90deg, #AC519C 0.83%, #E5424F 100%);
  box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  margin-top: 21px;
  text-align: center;
  color: #FFFFFF;
  height: 40px;
  border: none;
  align-content: center;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s all ease-out;
  outline: 1px solid #51a1ac;
}

.form__button:hover {
  box-shadow: 0px 3px 14px #ac519c;
}

.form__input {
  width: 440px;
  height: 54px;
  position: relative;
  transition: 0.3s all ease-in-out;
  line-height: 60px;
}

.form__input label {
  color: #828282;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s all;
  cursor: text;
  text-indent: 20px;
}

.form__input input {
  text-indent: 20px;
  background: #FFFFFF;
  box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
  font-weight: 300;
  font-size: 16px;
  height: 60px;
  line-height: 19px;
  color: #000000;
}

.form__input input:focus,
.form__input input:valid {
  padding-top: 20px;
}

.form__input input:focus,
.form__input input:valid {
  outline: 0;
}

.form__input input:focus ~ label,
.form__input input:valid ~ label {
  top: -14px;
  font-size: 12px;
}

.error {
  color: #E51323 !important;
  outline: #E51323;
}

